.animation-trigger,
.intro-trigger {
  transition: transform 1.2s ease-out, opacity 1s ease-out;
}

._animate-on-delete {
  transform: translateY(5rem);
  opacity: 0;
}

.js-sliding-block,
.js-sliding-block-init {
  transition: transform 1.2s ease-out;
}

._animation-slide {
  transform: translateX(-100%);
}
