.searchbar__open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

.searchbar__open-btn .icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-black);
    transition: 0.3s ease;
}

.searchbar__open-btn--grey .icon {
    fill: var(--color-grey-1);
}

/* SEARCH POPUP STYLES ===================================================== */

.searchbar__popup {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 50;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-white);
    border: 0.1rem solid rgba(0, 0, 0, 0.09);
    border-radius: 2rem;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-out;

    /* hide popup: */
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.searchbar--mobile .searchbar__popup {
    width: 30rem;
}

.searchbar__popup--opened {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

/* SEARCH POPUP STYLES ===================================================== */
.searchbar__submit {
    margin-right: 3rem;
    margin-left: auto;
}

.searchbar--mobile .searchbar__submit {
    margin-right: 1rem;
}

.searchbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar__input-wrapper {
    flex: 1 0 auto;
}

.searchbar--mobile .searchbar__input-wrapper {
    flex: 1 1 auto;
}

.searchbar__input {
    width: 100%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-black);
}

.searchbar__input::placeholder {
    font-weight: 400;
}

@media (any-hover: hover) {
    .searchbar__open-btn:hover {
        background-color: var(--color-accent);
    }

    .searchbar__open-btn:hover .icon {
        fill: var(--color-white);
    }

    .searchbar__open-btn--grey:hover {
        background-color: transparent;
    }

    .searchbar__open-btn--grey:hover .icon {
        fill: var(--color-black);
    }
}
